<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	metadata-complete="true">
	<display-name>git-stack-starter</display-name>

	<!-- =========================================================== -->
	<!-- Listeners                                                   -->
	<!-- =========================================================== -->

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.lds.stack.web.spring.el.SpringELServletContextListener</listener-class>
	</listener>

	<!-- =========================================================== -->
	<!-- Context Parameters                                          -->
	<!-- =========================================================== -->

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:META-INF/spring/applicationContext.xml</param-value>
	</context-param>

	<!-- =========================================================== -->
	<!-- JSP Config                                                  -->
	<!-- =========================================================== -->

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<page-encoding>UTF-8</page-encoding>
			<trim-directive-whitespaces>true</trim-directive-whitespaces>
		</jsp-property-group>
	</jsp-config>

    <!-- =========================================================== -->
	<!-- Filters                                                     -->
	<!-- =========================================================== -->

	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

   	<filter>
   		<filter-name>stackEntitlementServiceFilter</filter-name>
   		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
   	</filter>

   	<filter>
	  <filter-name>springSecurityFilterChain</filter-name>
	  <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<!-- =========================================================== -->
	<!-- Filter Mappings                                             -->
	<!-- =========================================================== -->

	<!-- Must be first filter in chain -->
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<filter-mapping>
		<filter-name>stackEntitlementServiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
	  <filter-name>springSecurityFilterChain</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- =========================================================== -->
	<!-- Servlets                                                    -->
	<!-- =========================================================== -->

	<servlet>
		<servlet-name>git-stack-starter</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>git-stack-starter</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>jmxServlet</servlet-name>
		<servlet-class>org.lds.stack.system.jmx.JmxServlet</servlet-class>
		<init-param>
			<param-name>allow-filter</param-name>
			<param-value>org.lds.git-stack-starter:name=dataSourceMBean,*</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jmxServlet</servlet-name>
		<url-pattern>/canary/*</url-pattern>
	</servlet-mapping>

	<!-- ====================================================================== -->
	<!-- ERROR PAGES                                                            -->
	<!-- ====================================================================== -->

	<error-page>
		<error-code>400</error-code>
		<location>/errors/generalError</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/errors/generalError</location>
	</error-page>
	<error-page>
		<error-code>402</error-code>
		<location>/errors/generalError</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/errors/generalError</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/errors/resourceNotFound</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/errors/generalError</location>
	</error-page>
	<error-page>
		<error-code>501</error-code>
		<location>/errors/generalError</location>
	</error-page>
	<error-page>
		<error-code>502</error-code>
		<location>/errors/generalError</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/errors/generalError</location>
	</error-page>

	<!--
		Handle exceptions thrown outside of the Spring DispatchServlet,
		such as native servlets, HttpRequestHandlerServlet, ...
	-->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/errors/generalError</location>
	</error-page>

	<!-- =========================================================== -->
	<!-- Environment Variables                                       -->
	<!-- =========================================================== -->

	<resource-ref>
		<description>The main datasource this app depends upon.</description>
		<res-ref-name>jdbc/default/DataSource</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
	</resource-ref>
</web-app>